<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>vacants</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>
<body>
<header>
    <h1>Welcome to the Online Recruitment System</h1>
</header>

<a th:href="@{'/vacants/filter'}">Search</a>
<a th:href="@{'/vacants/create-vacancy'}">Create</a>

<!-- Make sure to use the correct attribute name for the collection of vacants -->
<div th:each="vacant : ${vacants}">
    <!-- Access the name field of the associated Company entity -->
<!--    <p th:text="${vacant.company.name}">Company Name</p>-->
    <p th:text="${vacant.jobType}">Job Type</p>
    <a th:href="@{'/vacants/' + ${vacant.id}}">View</a>
    <a th:href="@{'/vacants/update/' + ${vacant.id}}">Update</a>
</div>

</body>
</html>
