<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>vacants</title>
</head>
<body>
<a th:href="@/vacants/search">seach</a>
<a th:href="@{'/vacants/create-vacancy' + ${vacant.id}}">Create</a>
<div th:each="vacant: ${vacant}">
    <p th:text="${vacant.job_type}"></p>
    <!-- Assuming you have a controller method to handle viewing details of a specific job -->
    <a th:href="@{'/vacants/' + ${vacant.id}}">view</a>
    <a th:href="@{'/vacants/update' + ${vacant.id}}">Update</a>
</div>
</body>
</html>
