<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>
<body>
<header>
    <h1>Welcome to the Online Recruitment System</h1>
</header>

        <p>Are you looking for a job?<a th:href="@{/jobseekers/register}">go</a></p>
        <p>Are you looking for employees?<a th:href="@{/companies/register}">go</a></p>


</body>
</html>
