<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Vacancy</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>
<body>
<h1>Create Vacancy</h1>
<form th:action="@{/create-vacancy}" method="post">
    <label for="jobType">Job Type:</label>
    <input type="text" id="jobType" >

    <label for="numberYearsExperience">Years of Experience:</label>
    <input type="number" id="numberYearsExperience" >

    <label for="workPlace">Work Place:</label>
    <input type="text" id="workPlace">

    <label for="holidays">Holidays:</label>
    <input type="number" id="holidays">

    <button type="submit">Create </button>
</form>
<br />
<a href="/logout">Logout</a>
</body>
</html>
