<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Homepage</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>
<body>
<header>
  <h1>Welcome to the Online Recruitment System</h1>
</header>
<nav>
  <ul>
    <li><a th:href="@{/jobseekers}">View Job Seekers</a></li>
    <li><a th:href="@{/vacants/all}">View Vacancies</a></li>
  </ul>
</nav>
<section>
  <p>This is the homepage of the Online Recruitment System.</p>
</section>
</body>
</html>
