<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>vacant</title>
</head>
<body>
     <p>job type:</p>
    <p th:text="${vacant.job_type}"></p>
     <p>number years experience</p>
    <p th:text="${vacant.number_years_experience}"></p>
     <p>holidays :</p>
    <p th:text="${vacant.holidays}"></p>
     <p>work place :</p>
    <p th:text="${vacant.work_place}"></p>
     <p> discription :</p>
    <p th:text="${vacant.description}"></p>
</body>
</html>
